<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dominion.Properties.Settings.VERDULEROSConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\VERDULEROS.mdb"
            providerName="System.Data.OleDb" />
        <add name="dominion.Properties.Settings.NeptunoConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Neptuno.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>